@font-face {
  font-family: 'magicmedievalregular';
  src: url('magicmedieval-prv1-webfont.woff2') format('woff2'),
       url('magicmedieval-prv1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'magicmedievalregular', 'Eczar', serif;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

label.result {
  flex-wrap: wrap;
}

label.result span {
  width: 100%;
}

fieldset { 
  padding-top: 1rem;
  margin-bottom: 1rem;
}

button {
  margin-bottom: 1rem;
}

div {
  max-width: 26rem;
  margin: auto;
}

small {
  display: block;
  font-size: 50%;
}

input[type=number] {
  width: 2.5rem;
}

input[type=checkbox], input[type=radio] { 
  vertical-align: middle;
}

input, button {
  font-size: 100%;
}

input.wide {
  width: auto;
}

code {
  overflow-wrap: break-word;
  max-height: 10rem;
  overflow-y: auto;
  display: block;
  font-family: 'Share Tech Mono', monospace;
}

details {
  margin-bottom: 1rem;
}